<!DOCTYPE html>
<html lang="en">
<body>
  <form>
    Start Date:<br>
    <input type="text" name="Start Date"><br>
    End Date:<br>
    <input type="text" name="End Date">
  </form>
  Company:
  <select name="company">
    <option value="Apple">Apple</option>
    <option value="Ford">Ford</option>
    <option value="Amazon">Amazon</option>
    <option value="John Deere">John Deere</option>
  </select>
  Report Type:
  <select name="report type">
    <option value="8k">8k Report</option>
    <option value="10k">10k Report</option>
  </select>
  <br>
  <button name="submit">
    Submit
  </button>
</body>
</html>
